################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RockPaperScissors/obj
/RockPaperScissors.Tests/obj
/.vs/RockPaperScissors/v15
